.centerblock__filter {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin-bottom: 51px;
}

.dropdown-item {
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-decoration-line: underline;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #B672FF;
}

.filter__options {
height: 160px;
overflow-y: auto;


display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;

font-weight: 400;
font-size: 20px;
line-height: 24px;
text-decoration-line: underline;
color: #B672FF;
padding: 20px;
margin: 0;

}

::-webkit-scrollbar {
  width: 8px; 
}


::-webkit-scrollbar-thumb {
  background-color: #ffffff; 
  border-radius: 40px; 
}


::-webkit-scrollbar-track {
  background-color: #313131;
  border-radius: 4px;
}

.filter__frame {
  max-height: 305px;
  max-width: 248px;
  padding: 34px;
  position: absolute;
  background-color: #313131;
  border-radius: 12px;
  z-index: 2;
  
}

.button__block {
  display: flex;
  gap: 10px;
  align-items: center;
}